/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

html{
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  max-width: 1600px;
  min-width: 600px;
}

hr{
  width: 40px;
  margin: 15px 0;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 50px;
}

h2{
  font-size:40px;
  font-weight: bold;
  padding-bottom: 20px;
}

h3{
  padding: 15px 0;
}

h4{
  padding-bottom: 10px;
}

ul li{
  list-style: none;
  margin: 20px 0;
  font-size: 14px;
}

.underline{
  text-decoration: underline;
}

.grey{
  color: gray;
}

/*UTILITIS*/
.padding{
  padding: 0px 200px;
}

.margin{
  margin: 20px 0px;
  margin-right:40px;
}

ul li i{
  color: blue;
  font-size: 20px;
}

/*HEADER-MENU*/

header{
  height: 70px;
  background-color: white;
  border: 1px solid #E6E8EB;
}

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

nav ul li a{
  list-style: none;
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

nav ul li a:hover{
  text-decoration: underline;
  text-underline-offset: 30px;
}

img{
  width: 100px;
  vertical-align: middle;
}

button{
  padding: 5px 15px;
  background-color: #0061FF;
  color: white;
  margin-right: 15px;
  border: none;
}

/*MAIN*/

/*START JUMBOTRON*/

main .jumbotron{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  background-color:#B4D0E7;
  padding: 150px 160px;
}

.main .text{
  position: absolute;
}

.content{
  display: flex;
  justify-content: space-between;
}

main .paragraph{
  width: 330px;
  text-align: left;
  padding-bottom: 20px;
}

.jumbo img{
  float: right;
  width: 800px;
}

.jumbobutton{
  margin-bottom: 15px;
}

.arrow-down{
  font-size: 40px;
  text-align: left;
  padding-top: 30px;
}

/*MAIN COLUMNS*/

main .grid{
  height: 1000px;
  padding: 150px 200px;
  text-align: left;
}

.gridflex{
  display: flex;
  flex-direction: row;
}

.dash{
  color: black;
}

main .column{
  width: calc(100% / 3);
  border: 2px solid #E6E8EB;
  height: 700px;
  padding: 0 30px;
}

main .row{
  text-align: center;
  border-bottom: 1px solid #E6E8EB;
  padding: 10px 10px;
}

.gridflex h3{
  font-size: 24px;
}

.gridflex .utente::before{
  font-family: "Font Awesome 5 Free";
  content: "\f007";
}

.gridflex .folder::before{
  font-family: "Font Awesome 5 Free";
  content: "\f07b";
}
.gridflex .pencil::before{
  font-family: "Font Awesome 5 Free";
  content:"\f044";
}

.checklist ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: blue;
  font-size: 16px;
}

.circle .fa-solid{
  color: blue;
}

/*LARGE COLUMN*/

main .largecolumn{
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
  height: 200px;
  margin-bottom: 50px;
}

.columnbig{
  width: 100%;
  border: 2px solid #E6E8EB;
  padding: 0px 20px;
}

main .columnbig h3{
  display:inline;
}

.columnbig p{
  padding-bottom: 15px;
}

/*PARTNER DROPBOX*/
.partner{
  height: 600px;
}

.partner img{
  float: left;
  width: 600px;
  margin-right: 50px;
}

.partner p{
    line-height: 25px;
    letter-spacing: 1px;
    padding: 10px 0;
}

.partner button{
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*CARD DROPBOX BUSINESS*/
main .business{
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.dropboxcard{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width:calc(100% / 3);
  padding-right:60px;
  padding-top: 20px;
}

.card img{
  width: 100%;
}

.dropboxcard h2{
  padding:0 px;
}

/*DESIGNIT BOX*/
main .designit{
  height: 555px;
}

.blocco{
  display: flex;
  flex-direction: row;
  padding-top:20px;
}

.side{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.square{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc(100% / 2);
  min-height: 10px;
}

.contentcenter{
  width: 700px;
  height: 400px;
  background-color:#F5F5F5;
  overflow-y: auto;
  padding: 30px 30px;
}

.contentcenter p{
  padding-top: 15px;
}

.contentcenter img{
  padding: 20px 0;
}

/*SIDE LEFT*/
.blocco .left .square:nth-child(1) {
  background-color: #A2D39B;
}

.blocco .left .square:nth-child(2) {
  background-color: #61082C;
}

.blocco .left .square:nth-child(3) {
  background-color: #1D93CE;
}

.blocco .left .square:nth-child(4) {
  background-color: #F91C1D;
}

/*SIDE RIGHT*/
.blocco .right .square:nth-child(1) {
  background-color: #D5021F;
}

.blocco .right .square:nth-child(2) {
  background-color: #B4D0E7;
}

.blocco .right .square:nth-child(3) {
  background-color: #0D2481;
}

.blocco .right .square:nth-child(4) {
  background-color: #FED830;
}


.designitbottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  background-color: #B4D0E7;
  padding: 0 200px ;
}

.designitbottom h2{
  color: #61082C;
}
.designitbottom button{
  background-color: white;
  color: black;
}

/*FAQ*/
.accordion{
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
}

.accordion .faq{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
	cursor: pointer;
	border-top: 1px solid #E6E8EB;
	padding: 20px 0;
  padding-right: 50px;
  transition: 0.4;
  overflow: hidden;
}

.accordiontitle h2{
  padding: 20px 0;
  width: 100vh;
}
.panel {
  display: none;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}

.faq:hover{
  background-color: #ccc;
}

/*FOOTER*/
footer{
  background-color: #000000;
  height: 350px;
  padding: 30px 100px;
}

footer .top{
  display: flex;
  height: 70%;
  color: #F9F9F9
}

footer .top .col-menu{
  width: calc(100% / 5);
}

footer .col-menu ul li a{
  text-decoration: none;
  color:#F9F9F9;
  font: 12px;
}

footer .col-menu ul li{
  margin: 10px 0;
}

footer .bottom{
  height: 20%;
}

footer .bottom hr{
  width: 100px;
  margin-bottom: 40px;
}

footer .language{
  color: gray;
  padding-top:50px ;
}

footer .language::before {
  font-family: "Font Awesome 5 Free";
  content:"\f2b4";
}






















