/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

html{
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  max-width: 1600px;
  min-width: 500px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 50px;
}

h2{
  font-size:40px;
  font-weight: bold;
  padding-bottom:30px;
}

h3{
  padding: 15px 0;
}

h4{
  padding-bottom: 10px;
}

ul li{
  list-style: none;
  margin: 20px 0;
  font-size: 14px;
}

.underline{
  text-decoration: underline;
}

.grey{
  color: gray;
}

/*UTILITIS*/
.padding{
  padding: 0px 200px;
}

.margin{
  margin: 20px 0px;
  margin-right:40px;
}

ul li i{
  color: blue;
  font-size: 20px;
}

/*HEADER-MENU*/

header{
  height: 70px;
  background-color: white;
}

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

nav ul li a{
  list-style: none;
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

nav ul li a:hover{
  text-decoration: underline;
}

img{
  width: 100px;
  vertical-align: middle;
}

button{
  padding: 5px 15px;
  background-color: #0061FF;
  color: white;
  margin-right: 15px;
  border: none;
}

/*MAIN*/

/*START JUMBOTRON*/

main .jumbotron{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  background-color:#B4D0E7;
  padding: 150px 160px;
}

.main .text{
  position: absolute;
}

.content{
  display: flex;
  justify-content: space-between;
}

main .paragraph{
  width: 330px;
  text-align: left;
  padding-bottom: 20px;
}

.jumbo img{
  float: right;
  width: 800px;
}

.jumbobutton{
  margin-bottom: 15px;
}

/*MAIN COLUMNS*/

main .grid{
  height: 1000px;
  padding: 150px 200px;
  text-align: left;
}

.gridflex{
  float: left;
}

.dash{
  color: black;
}

main .column{
  float: left;
  width: 300px;
  border: 2px solid #E6E8EB;
  height: 700px;
  padding: 0 20px;
}

main .row{
  text-align: center;
  border-bottom: 1px solid #E6E8EB;
  padding: 10px 10px;
}

.gridflex h3{
  font-size: 24px;
}

.gridflex .utente::before{
  font-family: "Font Awesome 5 Free";
  content: "\f007";
}

.gridflex .folder::before{
  font-family: "Font Awesome 5 Free";
  content: "\f07b";
}
.gridflex .pencil::before{
  font-family: "Font Awesome 5 Free";
  content:"\f044";
}

.checklist ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: blue;
  font-size: 16px;
}

.circle .fa-solid{
  color: blue;
}

/*LARGE COLUMN*/

main .largecolumn{
  height: 200px;
  text-align: left;
  padding: 0 200px;
}

.columnbig{
  width: 980px;
  border: 2px solid #E6E8EB;
  padding: 0px 20px;
}

main .columnbig h3{
  display:inline;
}

.columnbig p{
  padding-bottom: 15px;
}

/*PARTNER DROPBOX*/
.partner{
  height: 600px;
}

.partner img{
  float: left;
  width: 600px;
  margin-right: 50px;
}

.partner p{
    line-height: 25px;
    letter-spacing: 1px;
    padding: 10px 0;
}

.partner button{
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*CARD DROPBOX BUSINESS*/
main .business{
  height: 1100px;
}

.dropboxcard{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  float: left;
}

.card img{
  width: 100%;
}

.dropboxcard h2{
  padding:0 px;
}

/*DESIGNIT BOX*/
main .designit{
  height: 700px;
  background-color: antiquewhite;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width:100%;
  height: 400px;
  background-color:#0061FF;
}

.flex-container .flex-left{
  flex-grow: 1;
}
.flex-container .flex-center{
  flex-basis: 600px;
  flex-grow: 0;
  background-color: aliceblue;
}
.flex-container .flex-right{
  flex-grow: 1;
}




















